@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
}
body {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}
.main {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.startTag {
  font-size: 2.5em;
  font-family: "Archivo Black" sans-serif;
text-shadow: 0px 1px 3px black;
}
.startBtn {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 15px;
  cursor: pointer;
  font-size: 1.1em;
  font-family: "Archivo Black" sans-serif;
  background-color: purple;
  color: #ffffff;
  box-shadow: 1px 1px 8px black;
  transition: 0.2s all;
}
.startBtn:hover{
  box-shadow: 1px 1px 4px black;
}
.difficulty {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.difficultyItem {
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  width: 45%;
  height: 40px;
  font-size: 0.9em;
  font-family: "Archivo Black";
  box-shadow: 1px 1px 5px black;
  transition: 0.2s all;
}
.difficultyItem:hover{
  box-shadow: 1px 1px 3px black;
}
#difficultyItem1 {
  background-color: #1fb622;
}
#difficultyItem2 {
  background-color: rgb(255, 162, 0);
}
.questionBox {
  display: none;
  width: 100vw;
  height: 100vh;
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: purple;
}
.questionTag {
  width: 70%;
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.tagBox {
  font-size: 1.2em;
  text-align: center;
  font-family: "Archivo Black" sans-serif;
  color: #ffffff;
}
.answersBox {
  margin: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btnBox {
  outline: none;
  background-color: rgba(0, 0, 0, 0) ;
  border: solid 2px white;
  border-radius: 4px;
  margin: 5px 10px;
  padding: 5px 10px;
  width: 45%;
  height: 100px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.8em;
  transition: ease-out 0.2s all;
  overflow: hidden;
}
.btnBox:hover{
  background-color: #ffffff !important ;
  color: black;
}

.shadowEnd {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(49, 49, 49, 0.54);
  display: none;
  z-index: 2;
}
.endGameBox {
  position: absolute;
  width: 250px;
  height: 180px;
  border-radius: 4px;
  background-color:rgb(211, 0, 211);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  box-shadow: 1px 1px 20px black;
}
.modal {
  padding: 10px;
  font-family: "Archivo Black" sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.score {
  color: #ffffff;
}
.retry {
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: purple;
  color: #ffffff;
  width: 80%;
  height: 40px;
  font-size: 0.85em;
  box-shadow: 1px 1px 8px black;
}
.retry:hover{
  box-shadow: 1px 1px 5px black ;
}

@media screen and (max-width: 800px) {
  body{
    font-size: 16px;
  }
  .questionTag{
    width: 80%;
    margin: 20px 0;
    font-size: 1.1em;
  }
  .answersBox{
    width: 70%;
    margin: 0;
  }
  .btnBox{
    height: 85px;
  }
}

@media screen and (max-width: 600px) {
  body{
    font-size: 14px;
  }
  .main{
    width: 90%;
  }
  .difficulty{
    width: 60%;
  }
  .answersBox{
    width: 85%;
  }
  .btnBox{
    height: 80px;
    padding: 0;
    margin: 3px 5px;
    width: 42%;
  }
}

@media screen and (max-width: 450px) {
  .difficulty{
    width: 75%;
  }
  .questionTag{
    width: 85%;
    margin: 20px 0;
    font-size: 1em;
  }
  .answersBox{
    width: 90%;
  }
  .btnBox{
    width: 40%;
    height: 75px;
  }
  .endGameBox{
    width: 220px;
    height: 150px;
  }
  .retry{
    width: 70%;
    height: 35px;
  }
}

@media screen and (max-width: 300px) {
  body{
    font-size: 12px;
  }
  .main{
    width: 100%;
  }
  .startBtn{
    width: 130px;
    height: 35px;
  }
  .startTag{
    font-size: 2em;
  }
  .difficulty{
    width: 80%;
  }
  .questionTag{
    width: 90%;
    margin: 20px 0;
  }
  .answersBox{
    width: 95%;
  }
  .btnBox{
    width: 40%;
    height: 75px;
    margin: 1px 3px;
  }
}